In [1]:
import pymysql

In [2]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'seyilaw1',
    database='shoprise'
    
)
mycursor = mydb.cursor()

In [3]:
mycursor.execute('alter table staffrecords add column staffaddress text not null')

0

In [4]:
mycursor.execute('alter table staffrecords add column staffphonenumber text not null after staffage')

0

In [9]:
mycursor.execute('alter table staffrecords modify column staffphonenumber varchar(45) not null')

In [7]:
mycursor.execute('alter table staffrecords change column staffphonenumber staffcontact varchar(45) not null')

0

In [10]:
mycursor.execute('alter table staffrecords drop column staffaddress')

0

In [11]:
mycursor.execute('alter table staffrecords rename to staffdetails')

0

In [12]:
sql = 'insert into staffdetails(id,staffname,staffgender,staffage,staffcontact) values (%s,%s,%s,%s,%s)'
val = [(1,'Ade Herny','Male',35,'08145698775'),
       (2,'Shasha banks','Female',25,'09156231454'),
       (3,'Janet Lawal','Female',30,'09023659898'),
       (4,'Akpan Okon','Male',40,'09147478898'),
       (5,'Samuel Okoro','Male',22,'08142323265'),
       (6,'Febian Blessing','Female',35,'09123659878')]
mycursor.executemany(sql,val)
mydb.commit()

In [14]:
mycursor.execute('select * from staffdetails')
for x in mycursor:
    print(x)

(1, 'Ade Herny', 'Male', 35, '08145698775')
(2, 'Shasha banks', 'Female', 25, '09156231454')
(3, 'Janet Lawal', 'Female', 30, '09023659898')
(4, 'Akpan Okon', 'Male', 40, '09147478898')
(5, 'Samuel Okoro', 'Male', 22, '08142323265')
(6, 'Febian Blessing', 'Female', 35, '09123659878')

In [16]:
mycursor.execute('update staffdetails set staffage = 40 where id = 1')
mycursor.execute('select * from staffdetails')
for x in mycursor:
    print(x)

(1, 'Ade Herny', 'Male', 40, '08145698775')
(2, 'Shasha banks', 'Female', 25, '09156231454')
(3, 'Janet Lawal', 'Female', 30, '09023659898')
(4, 'Akpan Okon', 'Male', 40, '09147478898')
(5, 'Samuel Okoro', 'Male', 22, '08142323265')
(6, 'Febian Blessing', 'Female', 35, '09123659878')

In [17]:
mycursor.execute('delete from staffdetails  where id = 6')
mycursor.execute('select * from staffdetails')
for x in mycursor:
    print(x)

(1, 'Ade Herny', 'Male', 40, '08145698775')
(2, 'Shasha banks', 'Female', 25, '09156231454')
(3, 'Janet Lawal', 'Female', 30, '09023659898')
(4, 'Akpan Okon', 'Male', 40, '09147478898')
(5, 'Samuel Okoro', 'Male', 22, '08142323265')

In [19]:
mycursor.execute('describe  staffdetails')
for x in mycursor:
    print(x)

('id', 'int', 'NO', 'PRI', None, '')
('staffname', 'varchar(255)', 'NO', '', None, '')
('staffgender', 'varchar(12)', 'NO', '', None, '')
('staffage', 'int', 'NO', '', None, '')
('staffcontact', 'varchar(45)', 'NO', '', None, '')