In [1]:
#.What is the difference between list and tuples in Python?
# give examples of  common built-in data types 
#What are local variables and global variables in Python
#.What is type conversion in Python?
#What are functions in Python

In [2]:
import pymysql

In [3]:
mydb = pymysql.connect(
    host = 'localhost',
    user ='root',
    password = 'seyilaw1',
    database='studentmanagementsystem'
)
mycursor = mydb.cursor()

In [4]:
mycursor.execute('select count(age) as result from studentper')
for x in mycursor:
    print(x)

(247,)

In [12]:
mycursor.execute('select count(distinct age) as result from studentper')
for x in mycursor:
    print(x)

(6,)

In [15]:
mycursor.execute('select age ,count( age) as result from studentper group by age')
for x in mycursor:
    print(x)

(13, 84)
(12, 69)
(11, 17)
(14, 57)
(10, 6)
(15, 14)

In [11]:
mycursor.execute('select sum(JS11st) as result from studentper')
for x in mycursor:
    print(x)

(Decimal('17127'),)

In [17]:
mycursor.execute('select Mjob, sum(JS11st) as result from studentper group by Mjob')
for x in mycursor:
    print(x)

('OTHER', Decimal('3979'))
('at_home', Decimal('297'))
('TEACHER', Decimal('1948'))
('CIVIL SERVANT', Decimal('347'))
('ADMIN', Decimal('5523'))
('HEALTH', Decimal('2077'))
('POLICE', Decimal('433'))
('CRAFT', Decimal('689'))
('BUSINESS', Decimal('1285'))
('FARMER', Decimal('549'))

In [19]:
mycursor.execute('select * from studentper limit 1')
for x in mycursor:
    print(x)

('M', 13, 'RURAL', 'GT3', 'T', 1, 0, 'OTHER', 'OTHER', 'mother', 3, 2, 'no', 4, 'no', 1, 'yes', 'yes', 'no', 68, 69, 70, 71, 72, 69, 72, 70)

In [25]:
mycursor.execute('select * from studentper order by age desc limit 3 ')
for x in mycursor:
    print(x)

('M', 15, 'URBAN', 'LE3', 'A', 1, 0, 'OTHER', 'ADMIN', 'mother', 1, 0, 'no', 5, 'yes', 2, 'yes', 'no', 'no', 66, 76, 87, 82, 85, 69, 68, 81)
('M', 15, 'RURAL', 'GT3', 'A', 0, 0, 'OTHER', 'CLEANER', 'mother', 3, 1, 'yes', 5, 'no', 2, 'no', 'no', 'yes', 69, 75, 71, 74, 81, 78, 72, 78)
('M', 15, 'RURAL', 'GT3', 'A', 0, 0, 'OTHER', 'CLEANER', 'mother', 3, 1, 'no', 5, 'yes', 2, 'yes', 'no', 'yes', 70, 69, 68, 66, 62, 61, 68, 69)