In [1]:
num2 = int(15.5)
print(num2)

15

In [2]:
num3 = 15
print(float(num3))

15.0

In [3]:
print(str(num3))

15

In [4]:
num4 = 15.5
print(str(num4))

15.5

In [6]:
word = 'python'
print(float(word))

ValueError: could not convert string to float: 'python'

In [7]:
num5 = int('50')
print(num5)

50

# operators

In [8]:
num1 = 40
num2 = 20
print(f'{num1} + {num2} = {num1 +num2}')
print(f'{num1} - {num2} = {num1 - num2}')
print(f'{num1} / {num2} = {num1 /num2}')
print(f'{num1} * {num2} = {num1 *num2}')
print(f'{num1} % {num2} = {num1 %num2}')
print(f'{num1} // {num2} = {num1 //num2}')
print(f'{num1} ** {num2} = {num1 **num2}')

40 + 20 = 60
40 - 20 = 20
40 / 20 = 2.0
40 * 20 = 800
40 % 20 = 0
40 // 20 = 2
40 ** 20 = 109951162777600000000000000000000

# Comparisim Operators

In [9]:
print(f'{num1} > {num2} = {num1 >num2}')
print(f'{num1} < {num2} = {num1 < num2}')
print(f'{num1} >= {num2} = {num1 >= num2}')
print(f'{num1} <= {num2} = {num1 <= num2}')
print(f'{num1} == {num2} = {num1 == num2}')
print(f'{num1} != {num2} = {num1 != num2}')

40 > 20 = True
40 < 20 = False
40 >= 20 = True
40 <= 20 = False
40 == 20 = False
40 != 20 = True

# Logical operators

In [10]:
print(num1 >num2 and num2 == num1)
print(num1 >num2 or num2 == num1)
print(not num1)

False
True
False

# Membership Operators

In [11]:
word = 'Highlevelprogramminglanguage'
print('E' in word)
print('e' not in word)

False
False

# Identity Operators

In [12]:
print(num1 is num2)
print(num2 is not num1)

False
True

In [15]:
name = input('Please provide your name:')

Please provide your name:87

In [18]:
age = int(input('Please provide your age:'))

Please provide your age:45

# write a python program to request for cost price of  a pen, selling price and the quantity purchased 
# and calculate the profit made

In [19]:
sp = float(input('Please provide selling price:'))
cp = float(input('Please provide cost price:'))
quant = float(input('Please provide quantity purchased:'))
totalcp = cp * quant
totalsp = sp * quant
profit= totalsp - totalcp
print(f'The profit made on {quant} pen sold for {sp} rate is {profit}')

Please provide selling price:100
Please provide cost price:65
Please provide quantity purchased:200
The profit made on 200.0 pen sold for 100.0 rate is 7000.0